extends layout
block corpo
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Registo de uma tarefa
            .w3-container
                form.w3-container(action="/processaForm" method="POST")
                    label.w3-teal(for="prazo")
                        b Prazo de conclusão
                    input.w3-input.w3-border.w3-light-grey(type="date" name="prazo" required)
                    label.w3-teal(for="descricao")
                        b Descrição
                    input.w3-input.w3-border.w3-light-grey(type="text" name="descricao" required)
                    label.w3-teal(for="tipo")
                        b Tipo de tarefa
                    select.w3-select(name='tipo' required)
                        option(value='casa') Casa
                        option(value='escola') Escola
                        option(value='trabalho') Trabalho
                        option(value='outro') Outro
                    input.w3-btn.w3-blue-grey(type="submit" value="Enviar")
                a.w3-btn.w3-blue(href="http://localhost:5000/") Voltar ao início
            footer.w3-container.w3-teal
                address Gerado por FormApp